*{
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
}

body{
    background-color: #222!important;
}

header{
  height: 60px!important;
  background-color: #0e1538;
}

img.gerenciadorLogo{
    width: 48px;
    height: 44px;
    margin-top: -10px;
    margin-left: 10px;
}

#usuarioIdent {
  position: relative;
  top: 0px;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  padding-top: 2px;
  padding-left: 1px;
}


.text-name-War {
    padding: 0 5px;
    border: #00b2f0!important;
    display: inline-flex;
    color: #fff;
    font-size: 16px;
}

.flex-shrink-0 .text-end {
  margin-right: 15px!important;
  margin-top: -5px!important;
}

#barraPesquisa {
    background-image:url(../img/lupa.png);
    margin-right: 0px;
    margin-left: 0px;
    background-position-x: 5px!important;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 24px;

    margin-top: -5px;
    padding: 3px 36px;
    border: none!important;
    margin: none!important;
    border-color: none!important;
    box-shadow: none!important;
    background-color: none!important;
    width: 600px;
}

html {
    height: -webkit-fill-available;
  }
  
  main {
    height: 93vh!important;
    height: -webkit-fill-available;
    max-height: 100vh!important;
    overflow-x: auto;
    overflow-y: auto;
    margin-top: -16px;
  }

  #lateralGerenciador {
    background-color: #222!important;
  }
  
  .dropdown-toggle { outline: 0; }
  
  .btn-toggle {
    padding: .25rem .5rem;
    font-weight: 600;
    color: var(--bs-emphasis-color);
    background-color: transparent;
  }
  .btn-toggle:hover,
  .btn-toggle:focus {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
    background-color: var(--bs-tertiary-bg);
  }
  
  .btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
  }
  
  [data-bs-theme="dark"] .btn-toggle::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  }
  
  .btn-toggle[aria-expanded="true"] {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
  }
  .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
  }
  
  .btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
  }
  .btn-toggle-nav a:hover,
  .btn-toggle-nav a:focus {
    background-color: var(--bs-tertiary-bg);
  }
  
  .scrollarea {
    overflow-y: auto;
  }


  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }

  .bd-mode-toggle {
    z-index: 1500;
  }

  .bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
  }









  .navPaginacao {
    position: relative;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 60px;
    background-color: #0e1538;
    margin: 0px;
    border: 1px solid white;
    border-right: 0px;
  }

  .navPaginacao #testeInserir, .navPaginacao #testeInserir02, .navPaginacao #testeInserir03,
  .navPaginacao #testeInserir04, .navPaginacao #testeInserir05 {
    margin-top: 8px;
    width: 100%;
    height: 85vh;
    transition: all 1s ease-out;
    cursor: pointer;
  }

  #visaoGeral:hover, #visaoGeral02:hover, #visaoGeral03:hover, #visaoGeral04:hover, #visaoGeral05:hover {
    background-color: rgb(0, 178, 240, .5)!important;
    transition: all 1s ease-out;
    cursor: pointer;
  }

  #subnavegacaoCentral {
    width: 800px;
    margin-left: 15px;
    margin-top: 10px;
  }

  .nameProjectKanban {
    font-size: 22px;
    font-weight: 600;
    color: #000;
    padding-top: -10px;
    padding-bottom: -10px;
    margin-bottom: -10px;

    height: 38px;
    width: 38px;
    border-radius: 50%;
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;

    position: relative; top: -5px;
  }

  .nameProjectKanban2 {
    position: relative;
    left: 12px; top: 3px;
    border-left: 3px solid grey;
    padding-left: 12px;
  }

  .nav-underline {
    --bs-nav-underline-gap: 1.4rem!important;
    width: 800px;
  }

  .nav-underline .nav-link {
    color: #bbb;
  }

  .nav-underline .nav-link.active, .nav-underline .show>.nav-link {
    --bs-nav-underline-gap: 1.2rem;
    font-weight: 600!important;
    color: #00b2f0!important;
    border-bottom-color: currentcolor;
}

.nav-underline a.nav-link::before {
  color: #fff!important;
}

.nav-underline .nav-link:focus {
  color: #fff;
}

.userJoker {
  display: inline-flex;
  margin-bottom: -12px;
}









  p.user-name {
    margin-left: 10px;
}

.aside-header {
    position: relative;
    top: 25px;
    min-height: 30px;
    border-top: 1px solid #E6E6E6;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.aside-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    color: #FFF;
}

.aside-title-container i {
    background-color: #609DF9;
    padding: 10px;
    font-size: 10px;
    border-radius: 5px;
    color: #fff;
}

  .new-project-form {
    width: 250px;
    height: 50px;
    padding-top: 10px;
    position: fixed;
    margin: 0 auto;
    display: none;
    top: 335px;
    left: 17px;
}

.new-project-form input,.new-project-form button {
    height: 35px;
    margin: 0;
}

.new-project-form input[type="text"]{
    width: calc(100% - 35px);
    border: 1px solid #E6E6E6;
    border-radius: 5px 0 0 5px;
    padding-left: 10px;
}

.new-project-form input[type="text"]::placeholder {
    color: #BABABA;
}

.new-project-form button[type="submit"]{
    width: 35px;
    text-align: center;
    margin-left: -5px;
    background-color: #609DF9;
    border: none;
    border-radius: 0 5px 5px 0;
    position: absolute;
    top: 10;
}

.new-project-form button[type="submit"] i {
    color: #fff;
}

.aside-body {
  height: calc(55vh - 110px);
  padding-top: 0px;
  overflow-y: auto;
}

.aside-body a {
  color: #fff;
}

.project-item {
  cursor: pointer;
  transition: .3s;
  padding: 12px 10px 0px 5px;
  font-size: 16px;
  outline: none;
  text-decoration: none;
  width: 245px;
  margin-left: 2px;
  margin-top: 5px;
  display: inline-flex;
  border-radius: 2px;
}

.project-item h3 {
  font-size: 16px;
  width: 380px;
  text-decoration: none!important;
}

.project-item p {
  font-size: 12px;
  color: #fff;
  text-decoration: none!important;
  position: relative;
  width: 80px;
  right: 30px;
  top: 1px;
}

.project-item:hover{
  background-color: #F3F1F1;
  color: #000;
}

#UsuarioPgMeioProjects {
  text-decoration: none;
}

#UsuarioPg {
  position: relative; top: 0px;
}

#Pag2UsuarioPgMeioProjects {
  text-decoration: none;
  display: none;
  z-index: 10;
  padding: 5px
}

li.current {
  background-color: #E6E6E6;
  border-right: 3px solid #609DF9;
  color: #000;
}

li.current p {
  color: #000;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #BABABA;
  border-radius: 3px;
}











  


  .aside-footer{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    }

    .aside-footer a {
        text-decoration: none;
    }

    .aside-footer p, .aside-footer i {
        font-size: 20px;
        font-weight: bold;
        color: red;
    }

  



#TelaCRUD {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 2;
  top: 0; left: 0;
}

#TelaCRUDTask {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 2;
  top: 0; left: 0;
}

#CRUDproject {
  position: fixed;
  display: none;
  width: 200px;
  height: 220px;
  background-color: #ccc;
  z-index: 10;
  top: 450px; left: 250px;
  border-radius: 4px;
}

#CRUDproject .btn-container {
  position: relative;
  display: grid;
  padding-top: 8px;
  padding-left: 10px;
}

#CRUDproject .btn-container i, #CRUDproject .btn-container a {
  color: #000;
  cursor: pointer;
  margin-top: 6px; margin-left: 5px;
  text-decoration: none;
}

#CRUDproject .btn-container a label {
  font-weight: 500;
  margin-left: 5px;
  cursor: pointer;
}

#CRUDproject .btn-container a input {
 padding: 2px 10px;
 border-radius: 2px;
 margin-top: 5px;
}

#CRUDproject .btn-container .BtnSalvar02 input{
  position: absolute;
  border: none;
    padding: 5px 15px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    background-color: #e90000;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
    right: 15px;
}


.btn-container-projeto {
  margin-bottom: 10px;
}

.btn-container-projeto p {
  position: relative;
  color: #222;
  margin-bottom: 0px;
}

input.editProjectinput02 {
  height: 30px;
}

input.editProjectinput02 {
  width: 140px!important;
  padding-left: 10px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #E6E6E6;
}

.editProjectinput02::placeholder {
  color: #BABABA;
}

.editProjectButton {
  height: 30px;
  width: 40px;
  background-color: #609DF9;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}




#tresPontos {
  position: relative;
  width: 32px; height: 40px;
  background-color: #E6E6E6;
  color: #000;
  cursor: pointer;
  top: -43px;
  left: 208px;
  font-weight: 600;
  font-size: 20px;
  border-radius: 2px;
  margin-bottom: -40px;
}

#tresPontos:hover {
  background-color: #ccc;
  cursor: pointer;
}

#tresPontos label {
  position: relative;
  top: 0px;
  left: 8px;
  cursor: pointer;
}

.btn-project-info {
  position: absolute;
  top: 14px;
  right: 55px;
}

.btn-project-info .ButtonIsert02 input {
    border: none;
    padding: 5px 15px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    background-color: #609DF9;
    cursor: pointer;
    border-radius: 5px;
 }





#Pag2UsuarioPgMeioProjects {
  text-decoration: none;
  display: none;
  z-index: 10;
  padding: 5px;
  background-image: linear-gradient(#222, #888);
}

.TextAdd { 
  margin: 15px;
  color: #FFF;
  font-size: 20px;
}

input.task02, textarea {
    width: 350px;
    margin: 10px auto;
    border-bottom: 2px solid #609DF9;
    border-radius: 3px;
    padding: 10px;
}





.selector {
  width: 300px;
}

#selectField {
  height: 40px;
  width: 100%;
  padding: 10px 25px;
  margin-bottom: 5px;
  box-sizing: border-box;
  background: #ccc;
  border-radius: 6px;
  margin-top: 10px;
  margin-left: 30px;
  cursor: pointer;
  z-index: 10;
}

#selectField input {
  margin-right: 15px;
  background: #ccc;
}

#list {
  width: 300px;
  background: #ccc;
  border-radius: 6px;
  overflow: hidden;
  margin-left: 28px;
  padding: 10px 5px;
  z-index: 10;
  position: fixed;
}

.options {
  width: 100%;
  padding: 10px 15px;
  list-style: none;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 2px;
  padding-bottom: 8px;
  margin-bottom: 2px;
  position: relative;
  color: #000;
}

#opx {
  border-left: 8px solid #ff0000;
}
#op1 {
  border-left: 8px solid #c0c000;
}
#op2 {
  border-left: 8px solid #0000ff;
}
#op3 {
  border-left: 8px solid #008000;
}

.options p {
  margin-bottom: 0;
}

.options:hover {
  background: rgba(255, 255, 255, 0.7);
}


.hide {
  visibility: hidden;
}

input#insertCadastro {
  position: relative;
  top: 15px; left: 15px;
  padding: 5px 25px;
  border-radius: 4px;
  z-index: 1;
}


@media screen and (max-width: 720px) {
  .aside-body {
    height: calc(55vh - 200px);}
  
}


